site_name: pySMSpp
site_url: https://pysmspp.readthedocs.io
repo_url: https://github.com/SPSUnipi/pySMSpp
repo_name: SPSUnipi/pySMSpp
edit_uri: edit/main/docs/

docs_dir: docs

nav:
  - Home:
    - Home: index.md
    - Introduction: getting-started/introduction.md
    - Installation: getting-started/installation.md
    - Quick Start: getting-started/quick-start.md
  - Examples:
    - UCBlock Thermal 1-bus: examples/ucblock_thermal_1bus.ipynb
    - UCBlock 2 Thermal Line: examples/ucblock_2thermal_line.ipynb
    - Navigating SMS++ Blocks: examples/navigating_sms_blocks.ipynb
  - API Reference:
    - Overview: api_reference/index.md
    - block: api_reference/block.md
    - smspp_tools: api_reference/smspp_tools.md
    - components: api_reference/components.md
  - Contributing: contributing.md

theme:
  name: material
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.tracking
    - navigation.indexes
    - navigation.top
    - header.autohide
    - content.action.edit
    - content.action.view
    - content.code.copy
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to light mode

plugins:
  - search
  - git-revision-date-localized:
      type: timeago
      timezone: UTC
      enable_creation_date: true
  - mkdocstrings:
      enabled: true
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            members_order: source
            group_by_category: true
  - mkdocs-jupyter:
      execute: false
      include_source: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - md_in_html
  - toc:
      title: On this page
      permalink: true
      toc_depth: 4
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.mark
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - abbr
  - attr_list
  - def_list
  - tables

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/SPSUnipi/pySMSpp
