name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
  - cron: "0 6 * * 1,4"
  workflow_dispatch:

# Cancel any in-progress runs when a new run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    # Test package build in matrix of OS and Python versions
    name: Test package
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.13"
        - "3.12"
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
    env:
      MPLBACKEND: Agg  # https://github.com/orgs/community/discussions/26434
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0 # Needed for setuptools_scm

    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package and dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Test package
      run: |
        pytest

  test_with_smspp:
    # Test package build in matrix of OS and Python versions
    name: Test package with SMSpp
    needs:
    - test
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.13"
        os: ${{ ((github.event_name == 'schedule' || github.event_name == 'workflow_dispatch') && fromJson('["ubuntu", "macos", "windows"]')) || fromJson('["ubuntu", "macos"]') }}
    env:
      MPLBACKEND: Agg  # https://github.com/orgs/community/discussions/26434
      MAX_JOBS: 4  # Number of jobs in cmake compilation of SMS++ installation
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0 # Needed for setuptools_scm
    - name: Set up MSVC VS2022 (windows)
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1
      with:
        vsversion: 2022

    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package and dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Install SMSpp (linux)
      if: runner.os == 'Linux'
      run: |
        curl -s https://gitlab.com/smspp/smspp-project/-/raw/develop/INSTALL.sh | sudo bash -s -- --without-scip --without-gurobi --without-cplex
        echo "/opt/smspp-project/bin" >> $GITHUB_PATH
        echo "LD_LIBRARY_PATH=/opt/smspp-project/lib:/opt/HiGHS/lib:/opt/StOpt/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV

    - name: Install SMSpp (macOS)
      if: runner.os == 'macOS'
      run: |
        curl -fsSL https://gitlab.com/smspp/smspp-project/-/raw/develop/INSTALL.sh -o INSTALL.sh
        bash -e INSTALL.sh --without-scip --without-gurobi --without-cplex
        echo "$HOME/smspp-project/bin" >> $GITHUB_PATH
        echo "DYLD_LIBRARY_PATH=$HOME/smspp-project/lib:$HOME/HiGHS/lib:$HOME/StOpt/lib:$DYLD_LIBRARY_PATH" >> $GITHUB_ENV

    - name: Install SMSpp (windows)
      if: runner.os == 'Windows'
      shell: pwsh
      run: |
        & ([scriptblock]::Create((New-Object System.Net.WebClient).DownloadString('https://gitlab.com/smspp/smspp-project/-/raw/develop/INSTALL.ps1'))) -withoutScip -withoutGurobi -withoutCplex
        echo "C:\smspp-project\bin;C:\smspp-project\lib;C:\StOpt\lib;C:\smspp-project\build\vcpkg_installed\x64-windows\bin;C:\StOpt\build\vcpkg_installed\x64-windows\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: Print environment variables (Not Windows)
      if: runner.os != 'Windows'
      run: |
        echo "PATH: $PATH"

    - name: Print environment variables (Windows)
      if: runner.os == 'Windows'
      shell: pwsh
      run: |
        echo "PATH: $env:PATH"

    - name: Test package with SMSpp
      run: |
        pytest --force-smspp

  test_with_smspp_conda:
    # Test package with SMS++ installed from conda-forge
    name: Test package with SMSpp from conda-forge (Linux)
    needs:
    - test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.13"
        - "3.12"
    defaults:
      run:
        shell: bash -el {0}
    env:
      MPLBACKEND: Agg  # https://github.com/orgs/community/discussions/26434
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0 # Needed for setuptools_scm

    - name: Setup Miniforge
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-variant: Miniforge3
        miniforge-version: latest
        activate-environment: test-env
        python-version: ${{ matrix.python-version }}

    - name: Install smspp-project from conda-forge
      run: |
        mamba install -c conda-forge smspp-project -y

    - name: Install package and dependencies
      run: |
        pip install .[dev]

    - name: Verify SMS++ installation
      run: |
        which SMS++
        SMS++ --version

    - name: Test package with SMSpp
      run: |
        pytest --force-smspp
